@charset "UTF-8";

* {
	background: #cccccc;
}

.app-header {
	display: flex;
}

.app-header div {
	flex: 50;
	padding: 10px;
}

.app-name {
	font-size: 30px;
}

.app-links {
	text-align: right;
}

.wrapper {
	display: flex;
}

.column {
	flex: 50;
	margin: 5px;
}

.formWrapper td {
	padding: 5px;
}

.formButtons {
	text-align:center;
}

.formErrors {
	color: #ff0000;
	padding: 5px;
}

